@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700;800&display=swap");
/* font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.inner {
  max-width: 1032px;
  margin: 0 auto;
}

/* header */
.header {
  padding: 27px 0;
}

.header .inner {
  display: flex;
}

.bars {
  display: none;
  font-size: 30px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 33px;
  font-size: 1rem;
  font-weight: 700;
  margin-left: auto;
  cursor: pointer;
}

.nav .btn {
  color: #ff6464;
}

.nav a:hover,
.nav li:hover {
  transition: all 0.4s;
  color: #ff6464;
}

/* -------section---- */

.title {
  margin-top: 50px;
  background-color: #fff0f0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 50px;
  margin-left: 10px;
  line-height: 2.5rem;
}

.box {
  padding-top: 30px;
}

.b_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.miniinner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 0 6px;
  font-size: 1rem;
  gap: 16px;
}

.miniinner span {
  width: 70px;
  height: 26px;
  border-radius: 16px;
  background-color: #ff7c7c;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.miniinner > p {
  font-weight: 700;
}

.miniinner i,
.miniinner > p {
  opacity: 0.5;
}

.miniinner2 {
  padding: 30px 0 45px;
}

.miniinner2 p {
  font-size: 1rem;
}

.b_photo3 {
  padding-top: 27px;
}

.text h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 50px 0 10px;
}

.miniinner3 p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #21243d;
}

.miniinner4 p {
  margin: 30px 0 30px;
  font-size: 1rem;
}

/* footer */

.footer {
  margin-top: 60px;
}

.social,
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  font-size: 2rem;
  gap: 12px;
  margin-bottom: 26px;
}

.copyright {
  font-size: 0.5rem;
  opacity: 0.5;
}

/* -------반응형--------- */
@media (max-width: 768px) {
  .header {
    position: relative;
  }

  .header .inner i {
    font-size: 20px;
  }

  .nav {
    display: flex;
    gap: 18px;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.86);
    padding-top: 120px;
    width: 100%;
    height: 100vh;
    transition: left 0.6s;
    z-index: 1;
  }

  .nav.on {
    left: 0;
  }

  .nav a {
    padding: 14px 0;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 24px;
  }

  .bars {
    display: block;
    z-index: 2;
  }

  .bars.on {
    z-index: 2;
    color: #fff;
  }

  h1 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
  }

  .btn {
    text-align: center;
  }

  /* section */
  .section .inner {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 0 20px;
    padding-top: initial;
  }

  h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
  }

  .box {
    padding-top: 0;
  }

  .b_inner {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }

  .miniinner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: initial;
  }

  .miniinner span {
    font-size: 1rem;
    font-weight: 700;
  }

  .miniinner p {
    font-size: 1rem;
    font-weight: 700;
    position: relative;
    padding: 1px 0;
    color: #8695a4;
  }

  .miniinner2 {
    padding: initial;
  }

  .miniinner2 p {
    text-align: center;
    margin: 25px 0 35px;
  }

  .miniinner3 p {
    font-size: 1.5rem;
    text-align: center;
  }

  .miniinner4 p {
    text-align: center;
    margin: 25px 0 35px;
  }

  /* footer */
  .social i {
    font-size: 23px;
  }
}
